.buddybuildr .bb_button_small, .buddybuildr .bb_button_s {
	padding: 8px 13px;
}

.fs24 {
	font-size: 24px;
}

/* Alternative Hover Effect
.buddybuildr .bb_button_s:hover {
	background-color: rgba(0,0,0,0.071);
}*/

.buddybuildr .bb_button_s:hover {
	opacity: 0.9;
	background-color: rgba(0,0,0,0.071);
}


/* Just a really cool button */
.buddybuildr .bb_button_lightsalmon_in {
	background: #696969;
	color: #FFA07A;
}

/* WHITE BUTTONS */
.buddybuildr .bb_button_white {
	color: #696969;
	background: #FFFFFF;
}

.buddybuildr .bb_button_white2 {
	color: #1E90FF;
	background: #FFFFFF;
}

.buddybuildr .bb_button_white3 {
	color: #4682B4;
	background: #FFFFFF;
}

/* Red Color Buttons */

.buddybuildr .bb_button_lightsalmon {
	color: #FFFFFF;
	background: #FFA07A;
}

.buddybuildr .bb_button_firebrick {
	background: #B22222;
	color: #FFFFFF;
}

.buddybuildr .bb_button_red {
	background: #FF0000;
	color: #FFFFFF;
}

.buddybuildr .bb_button_darkred {
	background: #8B0000;
	color: #FFFFFF;
}

/* Green Color Buttons */

.buddybuildr .bb_button_green {
	background: #008000;
	color: #FFFFFF;
}

.buddybuildr .bb_button_mediumseagreen{
	background: #3CB371;
	color: #FFFFFF;
}

.buddybuildr .bb_button_seagreen {
	background: #2E8B57;
	color: #FFFFFF;
}

/* Blue Color Buttons */

.buddybuildr .bb_button_deepskyblue {
	background: #00BFFF;
	color: #FFFFFF;
}

/* DodgerBlue */
.buddybuildr .bb_button_blue {
	background: #1E90FF;
	color: #FFFFFF;
}

.buddybuildr .bb_button_steelblue {
	background: #4682B4;
	color: #FFFFFF;
}