/*
    @package Buddy_Buildr_Pro
*/

/*
################
               Font Family
################
*/

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../fonts/roboto-v18-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v18-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto-v18-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v18-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*
################
               Font Icon
################
*/

.buddybuildr-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'buddybuildr' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.buddybuildr-bb-logo:before {
  content: "\e900";
}
.buddybuildr-search:before {
  content: "\f002";
}
.buddybuildr-user:before {
  content: "\f007";
}
.buddybuildr-check:before {
  content: "\f00c";
}
.buddybuildr-close:before {
  content: "\f00d";
}
.buddybuildr-remove:before {
  content: "\f00d";
}
.buddybuildr-times:before {
  content: "\f00d";
}
.buddybuildr-home:before {
  content: "\f015";
}
.buddybuildr-chevron-left:before {
  content: "\f053";
}
.buddybuildr-chevron-right:before {
  content: "\f054";
}
.buddybuildr-chevron-up:before {
  content: "\f077";
}
.buddybuildr-chevron-down:before {
  content: "\f078";
}
.buddybuildr-bell-o:before {
  content: "\f0a2";
}
.buddybuildr-globe:before {
  content: "\f0ac";
}
.buddybuildr-bars:before {
  content: "\f0c9";
}
.buddybuildr-navicon:before {
  content: "\f0c9";
}
.buddybuildr-reorder:before {
  content: "\f0c9";
}
.buddybuildr-comments-o:before {
  content: "\f0e6";
}
.buddybuildr-bell:before {
  content: "\f0f3";
}
.buddybuildr-cube:before {
  content: "\f1b2";
}
.buddybuildr-user-circle-o:before {
  content: "\f2be";
}

/*
################
               Extra Typography
################
*/

body,
button,
input,
select,
textarea {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.buddybuildr #page h1, .buddybuildr #page h2,
.buddybuildr #page h3, .buddybuildr #page h4,
.buddybuildr #page h5, .buddybuildr #page h6 {
  font-weight: 300;
}

.buddybuildr h1 {font-size: 36px;}
.buddybuildr h2 {font-size: 30px;}
.buddybuildr h3 {font-size: 24px;}
.buddybuildr h4 {font-size: 20px;}
.buddybuildr h5 {font-size: 18px;}
.buddybuildr h6 {font-size: 16px;}


.buddybuildr.buddypress #page {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1.6em;
}

b,
strong {
  font-weight: 500;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  border-left: 4px solid #707070;
  border-left: 4px solid rgba(51, 51, 51, 0.7);
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-size: 18px;
  font-size: 1.8rem;
  font-style: italic;
  line-height: 1.6667;
  margin-bottom: 1.6667em;
  padding-left: 0.7778em;
}

blockquote p {
  margin-bottom: 1.6667em;
}

blockquote > p:last-child {
  margin-bottom: 0;
}

blockquote cite,
blockquote small {
  color: #333;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}

address {
  font-style: italic;
  margin: 0 0 1.6em;
}

code,
kbd,
tt,
var,
samp,
pre {
  font-family: Inconsolata, monospace;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
  line-height: 1.2;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 0.8em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

abbr[title] {
  border-bottom: 1px dotted #eaeaea;
  border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
  cursor: help;
}

mark,
ins {
  background-color: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}


