/*
	@package Buddy_Buildr_Pro
*/

/*
	Variables
	------------------------------------------------
*/
$icon-font : 'buddybuildr-icon';
$body-font : 'Roboto', sans-serif;

$primary-color : #000000;
$hover-color: rgba(0,0,0,0.071);
$dark-grey : #333333;
$grey: #656565;
$grey2: #CBCBCB;
$light-grey : #898989;
$lighter-grey : #F1F1F1;
$orange : #ff9d1d;
$orange-hover : #F56B08;

/*
	Variables
	------------------------------------------------
*/

$theme-class: 'buddybuildr';
$exterior-class: 'exterior';
$hamburger-color : #ffffff;
$header-color : #ffffff;
$appify-header-color : #ffffff;
$desktop-color : #ffffff;
$header-background-color : #d44646;
$hover-color : rgba(0,0,0,.071);
$mobile-menu-background: #484848;
$p10: 10px;

/* Media Queries */
$breakpoint-tablet: 768px;

// Media Queries

$xs: 767px;
$lg: 899px;